<!DOCTYPE html>
<html>
	<head>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
		<script type="text/javascript" src="ejs.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
            var lectureArr = [];
            const idMainDiv = '#idMainDiv';
            var lectNum = 1;  // 1
            var objIdVal = 0;
            function addLectureInput(){
                // $(`#idAddBtn`).attr("disabled", true);
                let lectArrLen = lectureArr.length;
                let objLectNameVal = '';
                let lectureObj = {id: objIdVal, lectureName: objLectNameVal, lectNameState: "EDITLECTNAME", lectArticleDraftStatus: false, lectureArticle: {article: null, state: ""}};
                lectureArr.push(lectureObj);
                let template = lectNameAndArticleStates(objIdVal, lectArrLen, objLectNameVal);
                $(idMainDiv).append(template);
                objIdVal = lectureArr.length;
            }
            function getIndexByLectId(lectId){
                let lectureIdIndex = lectureArr.findIndex(arrIndex => arrIndex.id === lectId);
                return lectureIdIndex;
            }

            function removeLectInput(lectArrLen){
                $(`#idEditDiv${lectArrLen}`).remove();
                lectArrLen--;
            }

            function displayLectNameElement(){
                $(idMainDiv).empty();
                for(var ctr = 0; ctr < lectureArr.length; ctr++){ 
                    let objLectNameVal = lectureArr[ctr].lectureName;
                    let objIdVal = lectureArr[ctr].id;
                    let objLectArticle = lectureArr[ctr].lectureArticle.article;
                    if(objLectArticle == ''){
                        lectureArr[ctr].lectArticleDraftStatus = false;
                    } 
                    lectureArr[ctr].lectArticleDraftStatus = false;                  
                    $(idMainDiv).append(lectNameAndArticleStates(objIdVal , ctr, objLectNameVal, lectNum));
                    lectureArr[ctr].lectArticleDraftStatus = true; 
                    $(idMainDiv).append(lectNameAndArticleStates(objIdVal, ctr, objLectArticle));
                }

            }
            function addToLectureArr(lectArrLen, lectIdIndex){
               let objLectNameVal = document.getElementById(`idLectureInput${lectArrLen}`).value;
               lectureArr[lectIdIndex].lectureName = objLectNameVal;
               lectureArr[lectIdIndex].lectNameState = "DISPLAYLECTNAME";
               lectNum++;
               let id = lectureArr[lectIdIndex].id;
               console.log(lectureArr);
               let template = lectNameAndArticleStates(id, lectArrLen, objLectNameVal, lectNum);
               $(idMainDiv).append(template);
               displayLectNameElement();
            }
            function removeDisplay(lectArrLen){
                console.log(lectureArr);
                lectureArr.splice(lectArrLen, 1);
                if(lectureArr.length > 0){
                    objIdVal = lectureArr[lectureArr.length - 1].id + 1;
                }
                $(`#idDisplayLectNameDiv${lectArrLen}`).remove(); 
                displayLectNameElement()
			}
            function renderLectureSequence(lectureArrLen){
				$(idMainDiv).empty();
				for(var ctr = 0; ctr < lectureArr.length; ctr++){
                    let template = lectNameAndArticleStates(lectureArr[ctr].id, ctr, lectureArr[ctr].lectureName, lectNum);					
                    $(idMainDiv).append(template);
				}
			}
            function editLectName(lectArrLen){
                let objIdVal = lectureArr[lectArrLen].id;
                let idIndex = getIndexByLectId(objIdVal)
                lectureArr[idIndex].lectNameState =  "EDITLECTNAME";
                displayLectNameElement();
            }
            
            function contentStateToList(lectArrLen, objIdVal){
                let idIndex = getIndexByLectId(objIdVal);
                lectureArr[idIndex].lectArticleDraftStatus = true;
                lectureArr[idIndex].lectureArticle.state = "LIST";
                displayLectNameElement();
            }
            function addArticleTextArea(lectArrLen, objIdVal){
                let idIndex = getIndexByLectId(objIdVal);
                lectureArr[idIndex].lectureArticle.state = "EDIT";

                displayLectNameElement()
            }
            function addLectArticleToArr(lectArrLen, objIdVal){
                var idIndex = getIndexByLectId(objIdVal);
                var textAreaContent = $(`#idArticle${lectArrLen}`).val();
                console.log(textAreaContent);
                lectureArr[idIndex].lectureArticle.state = 'DISPLAY';
                lectureArr[idIndex].lectureArticle.article = textAreaContent;
                $(`#idTextAreaDiv${lectArrLen}`).remove();
                displayLectNameElement();
            } 
            function editArticle(lectArrLen, objIdVal){
                let idIndex = getIndexByLectId(objIdVal);
                lectureArr[idIndex].lectureArticle.state = 'EDIT';
                let textAreaContent = lectureArr[idIndex].lectureArticle.article;
                displayLectNameElement();
            }
            function deleteArticle(lectArrLen, objIdVal){
                let idIndex = getIndexByLectId(objIdVal);
                $(`#idSpanContent${lectArrLen}`).remove();
                lectureArr[idIndex].lectureArticle.article = null;
                console.log(lectureArr);
            }
            // lectAndArticleStates
            function lectNameAndArticleStates(objIdVal, lectArrLen, objLectNameVal, lectNum, textAreaContent){
                let idIndex = getIndexByLectId(objIdVal);
                const lectAndArticleTemplate = `
                <% if(lectureObject.lectArticleDraftStatus === false) {%>
                    <% if(lectureObject.lectNameState === 'EDITLECTNAME') {%>
                        <div id="idEditDiv<%= lectArrLen1 %>" style = "border: 1px solid black; width: 500px; margin-left: 100px;" >
                            <div id= "idLabelDiv<%= lectArrLen1 %>" style= "font-size: initial; margin-left: 10px" >
                                <label id= "idLectureLabel<%= lectArrLen1 %>" >Lecture </label><%= lectArrLen1 + 1 %><label>: </label>
                                <input id="idLectureInput<%= lectArrLen1 %>" type= "text" placeholder="Enter a Title." value= "<%= objLectNameVal1 %>">
                            </div>
                                <div id= "idSaveCancelDiv<%= lectArrLen1 %>" style = "margin-left: 400px; width: 100px;">
                                    <button id= "idCancelBtn<%= lectArrLen1 %>" onclick= "removeLectInput(<%= lectArrLen1 %>)">cancel</button>
                                    <button id="idSaveBtn<%= lectArrLen1 %>" onclick="addToLectureArr(<%= lectArrLen1 %>, <%= idIndex1 %>)" style= "margin-left: 10px;">save</button>
                                </div>
                            </div>  
                        </div>
                    <% } %> 
                    <% if(lectureObject.lectNameState === 'DISPLAYLECTNAME') {%>
                        <div id="idDisplayLectNameDiv<%= lectArrLen1 %>" style = "border: 1px solid black; width: 500px; margin-left: 100px;" >
                            <div id= "idLabelDiv<%= lectArrLen1 %>" style= "font-size: initial; margin-left: 10px" >
                                <label id= "idLectureLabel<%= lectArrLen1 %>" >Lecture </label><%= lectArrLen1 + 1 %><label>: </label>
                                <span id="idLectNameSpan<%= lectArrLen1 %>"><%= objLectNameVal1 %></span>
                            </div>
                            <div id= "idEditRemoveDiv<%= lectArrLen1 %>" style = "margin-left: 350px; width: 150px;">
                                <button id= "idEditBtn<%= lectArrLen1 %>" onclick= "editLectName(<%= lectArrLen1 %>, <%= lectNum1 %>)">Edit</button>
                                <button id="idRemoveBtn<%= lectArrLen1 %>" onclick="removeDisplay(<%= lectArrLen1 %>)">Remove</button>
                                <button id= "idcontentBtn<%= lectArrLen1 %>" onclick = "contentStateToList(<%= lectArrLen1 %>, <%= objIdVal1 %>)">Content</button>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <% if(lectureObject.lectArticleDraftStatus === true) {%>
                    <% if(lectureObject.lectureArticle.state === 'LIST') { %>
                        <div id= "idArticleOptionDiv<%= lectArrLen1 %>" style= "width: 500px; margin-left: 100px;">
                            <div id= "idArticleDiv<%= lectArrLen1 %>" style= "margin-top: 3px;">
                                <button id= "idArticleBtn<%= lectArrLen1 %>" onclick= "addArticleTextArea(<%= lectArrLen1 %>, <%= objIdVal1 %>)" >Article</button>
                            </div>
                        </div>
                    <% } %>
                    <% if(lectureObject.lectureArticle.state === 'EDIT') { %>
                        <div id= "idTextAreaDiv<%= lectArrLen1 %>" style= "width: 500px; margin-left: 100px;"><textarea id= "idArticle<%= lectArrLen1 %>" style= "width: 300px;"  ><%= lectureObject.lectureArticle.article %></textarea>
                            <button id= "idSaveArticleBtn<%= lectArrLen1 %>" onclick= "addLectArticleToArr(<%= lectArrLen1 %>, <%= objIdVal1 %>)">Save Article</button>
                        </div>
                    <% } %>
                    <% if(lectureObject.lectureArticle.state === 'DISPLAY' && lectureObject.lectureArticle.article != null) { %>
                        <div id= "idSpanContent<%= lectArrLen1 %>" style= "width: 500px; margin-left: 100px;">
                            <%= lectureObject.lectureArticle.article %>
                            <button id ="idEditArticleBtn<%= lectArrLen1 %>" onclick = "addArticleTextArea(<%= lectArrLen1 %>, <%= objIdVal1 %>)" >Edit article.</button>
                            <button id = "idDeleteArticleBtn<%= lectArrLen1 %>" onclick = "deleteArticle(<%= lectArrLen1 %>, <%= objIdVal1 %>)">Delete article.</button>
                        </div>
                    <% } %>
                <% } %>
                `;
                let template = ejs.render(lectAndArticleTemplate, {idIndex1: idIndex, lectureObject: lectureArr[idIndex], objIdVal1: objIdVal, lectArrLen1: lectArrLen, lectNum1: lectNum, objLectNameVal1: objLectNameVal, textAreaContent1: textAreaContent});
                return template;
            }
        </script>
    </head>
    <body>
        <button class="classAddBtn" id="idAddBtn" style="margin-top: 30px; margin-left: 80%" onclick="addLectureInput()">ADD</button>
		<div class="classMainDiv" id="idMainDiv" style = "margin-top: 10px; min-height: 50px ;height : auto; border: 1px solid black; width: 700px; margin-left: 25%;"></div>
    </body>
</html>

